.counter {
    width: 300px;
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
button {
    width: 100px;
    margin: 0;
    padding: 0;
    font-size: 40px;
    background-color:black;
    color: azure;
}
p {
    margin: 0;
    font-size: 40px;
}